{:kotoba.app/id "cloud.itonami.isic-1629", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiezjx2rt7ilqxtwa4b5xo2bzjut2w3c3b4ug3uqwg63ndoslwiqee", :kotoba.app/embed-url "ipfs://bafkreiezjx2rt7ilqxtwa4b5xo2bzjut2w3c3b4ug3uqwg63ndoslwiqee", :published {:archive "https://kotobase.net/ipfs/bafkreiezjx2rt7ilqxtwa4b5xo2bzjut2w3c3b4ug3uqwg63ndoslwiqee", :size 73208, :put-status 201, :get-status 200, :at "2026-08-15T13:51:23.602Z"}}
